<html>
    <head>
        <title>Test Django page</title>
    </head>
    <body>
        <div>
            <h1>
                <a href="">
                    Test Django page
                </a>
            </h1>
        </div>   
        
        <div>
            <h2>
                <a href="">first test</a>
            </h2>
            <p>createdAt: 04.01.2021, 14:05</p>
            <p>can u c me?</p>
        </div>

        <div>
            <h2>
                <a href="">second test</a>
            </h2>
            <p>createdAt: 04.01.2021, 14:06</p>
            <p>nice to meet u</p>
        </div>
    </body>
</html>